---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Text Me A Secret">
  <main>
    <div class="content">
      <h1>Text Me A Secret</h1>
      <p class="phone"><a href="sms:14158778810?body=Hello%20there!%20I%20am...">1-415-877-8810</a></p>
      <p class="tagline">No Artificial Intelligence.</p>
      <p class="tagline"><span class="squiggly">Humans</span> only.</p>
    </div>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    background: 
      linear-gradient(
        45deg,
        rgba(26, 26, 26, 0.85),
        rgba(42, 42, 42, 0.85),
        rgba(66, 54, 54, 0.85)
      ),
      url('/polka.png');
    background-size: 400% 400%, cover;
    background-position: center;
    background-repeat: repeat;
    animation: gradientBG 15s ease infinite;
  }

  .content {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  h1 {
    font-size: 6rem;
    font-weight: bold;
    color: white;
    opacity: 0;
    animation: fadeInAndPulse 3s ease-out forwards;
    text-shadow: 0 0 10px rgba(255,255,255,0.3);
    text-align: center;
    margin: 20;
  }

  p {
    color: white;
    font-size: 1.25rem;
    margin: 0;
    text-align: center;
	margin: 10;
  }

  .phone {
    margin-top: 1rem;
	color: white;
	font-weight: bold;
    font-size: 2.5rem;
  }

  .tagline {
    margin-top: 0.5rem;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  @keyframes fadeInAndPulse {
    0% {
      opacity: 0;
      transform: translateY(20px) scale(0.8);
    }
    60% {
      opacity: 1;
      transform: translateY(0) scale(1.1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* Responsive text sizes */
  @media (max-width: 1024px) {
    h1 {
      font-size: 4.5rem;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
    
  }

  .squiggly {
    position: relative;
  }

  .squiggly::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 3.5px;
    background: linear-gradient(45deg, transparent, transparent 45%, #3b82f6 45%, #3b82f6 55%, transparent 55%, transparent);
    background-size: 6px 6px;
    animation: squiggle 1s linear infinite;
  }

  @keyframes squiggle {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 12px 0;
    }
  }
</style>

