---
import BaseHead from '../components/BaseHead.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
const description = "Text me a secret. Originally by Shaan Puuri. No AI, just real human connection. Safe anonymous texts.";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead 
			title={title} 
			description={description}
			image="/tmas.png" 
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	body {
		margin: 0;
		padding: 0;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
